<p>Hey {{name}},</p>
<p>Here is your confirmation code</p>
<div style='background-color: darkgreen; padding: 2rem;'>
  <p style='color: coral;'>
    {{code}}
  </p>
</div>

<p>If you did not request this email you can safely ignore it.</p>